
.footer-widget {
    background-color: #222;
    font-family: Lato,sans-serif;
    color: #999;
    padding: 50px 0px;
}
.footer-item h4 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}
.with-border .footer-item {
    padding: 0 15px;
    position: relative;
}
.contact-info li {
    display: block;
    line-height: 20px;
    margin: 0 0 8px;
    padding: 0 0 0 25px!important;
    position: relative;
}
.contact-info li i {
    color: #b2b2b2;
    left: 0;
    line-height: 20px;
    position: absolute;
    top: 0;
}
.recent-posts li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    padding: 5px 0;
}
.footer-item a {
    color: #eee;
}
.footer-item li a i {
    float: right;
}
.footer__widget .ftr__latest__post .single__ftr__post {
    padding-bottom: 0px;
    margin-bottom: 15px;
}
.d-flex {
    display: flex!important;
}
.footer__widget .ftr__latest__post .single__ftr__post .ftr__post__thumb {
    margin-right: 13px;
    min-width: 78px;
}
.footer-item a {
    color: #eee;
}
.footer__widget .ftr__latest__post .single__ftr__post .ftr__post__thumb a img {
    width: 100%;
}
.footer__widget .ftr__latest__post .single__ftr__post .ftr__post__details span {
    color: #fff;
    font-size: 12px;
}
.footer__widget .ftr__latest__post .single__ftr__post .ftr__post__details span i {
    padding-right: 10px;
}
.footer {
    background-color: #141414;
    border-top: 1px solid #2c2c2c;
    color: #fff;
    padding: 10px 0;
}
.footer .copyright {
    margin: 4px 0 0;
    font-weight: 300;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
}
.footer .social-links {
    margin: 0;
}
.social-links {
    margin-top: 17px;
    position: relative;
    z-index: 9;
}
.footer .social-links li {
    display: inline-block;
    margin-right: 8px;
}
.footer .social-links li a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 36px;
    line-height: 35px;
    margin: 0 auto;
    width: 36px;
    /* ADDed Css*/
    padding-top: 10px;
}
.contact-info span{
	font-size:13px;
}

.affix-top {
    background-color: rgba(255, 255, 255, 1);
}
.bx-wrapper img {
    width: 85%!important;
}
.contactbtn
{
	color: #fff;
	background: #0175a5;
	border: 1px solid #0175a5;
	border-radius: 0px;
	padding: 12px 40px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0.3px;
	text-transform:uppercase;
}
.contactbtn:hover{
	color: #fff;
	background: #199e9f;
}
.contactbtn:focus{
	color: #fff;
	background: #199e9f;
}
.setvtnright{
	text-align:right;
}


















