

.loader{
	position: fixed;
	background:#fff;
	z-index:11000;
	height:100%;
	width:100%;
	overflow:hidden;
}

.spinner {
  margin: auto;
  width: 54px;
  height: 40px;
  position: relative;
  text-align: center;
  position:absolute;
  left:50%;
  right:50%;
  margin-left:-20px;
  top:50%;
  
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #82B440;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.dot1{
	background-color: #82B440;
}	
.dot2 {
  top: auto;
  background-color: #07AAA5;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}