@media (max-width:450px) {
.navbar-toggle {
    right: 28px !important;
    top: 10px;
}
#navigation.affix {
    background-color: #fff;
    position: relative;
}
div#banner {
    display: inline-block;
    margin-top: 121px;
}
.slidercapt {
    position: absolute;
    z-index: 9999;
    top: 10%;
    text-align: left;
    left: 12%;
    width: 70%;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #1b1c1e;
}
.slidercapt h1 {
    font-size: 18px;
    background: rgb(1, 117, 166, 0.7);
    padding: 10px;
}
.slidercapt p {
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    color: #fff;
    text-transform: capitalize;
}
.carousel-control {
    top: 0%;
}
#navigation.affix .navbar-toggle .icon-bar {
    background-color: #fff !important;
}

#responsive {
    padding: 0px 0px;
}
.row.divide-number-section.maincounter {
    margin: 0;
}
.outsidecircle {
        margin: 0px auto 10px;
}
.number-sectionbg {
    background: #f5f5f5;
    padding: 0;
    margin-top: 20px;
}
.cont {
    position: relative;
    overflow: hidden;
}
.el__heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}
.el__close-btn:before, .el__close-btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 30%;
    width: 40%;
    height: 3px;
    margin-top: -4px;
    background: #fff;
    opacity: 0;
    transition: opacity 0s;
}
.el__text h2 {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.el__content {
    padding: 10px;
}
#publications .col-md-8 {
    padding: 0;
}
#publications .col-md-4 {
    padding: 0;
}
#publication-sliders .owl-prev, #publication-sliders .owl-next {
    background: #0175a5;
    top: 19%;
}
.section-padding {
    padding-top: 10px!important;
}
.padding {
    padding: 30px 0;
}
#publications {
    margin-top: 30px;
}
.heading {
    margin-bottom: 20px;
    margin-top: 10px;
	font-size:24px;
}
#publication-sliders {
    margin-bottom: 30px;
    clear: both;
}
div#testinomial-slider {
    padding: 22px;
}
.footer-widget {
    padding: 30px 0px;
}
.footer-item h4 {
    margin-top: 30px;
}
.search0 a {
    margin-right: 10px;
    color: #fff;
    float: right;
    margin-top: -15px;
    top: 22px;
    right: -70px;
    position: absolute;
    font-size: 13px;
    margin-bottom: 13px;
}
.search0 {
    /* position: absolute; */
    /* left: -245px; */
    /* top: 80px; */
    width: 100%;
    z-index: 9999;
}
.social {
    text-align: right;
    padding: 18px 0;
}
.navbar-brand, #navigation.affix .navbar-brand {
    display: inline-block;
    padding: 0;
}
.navbar-default .navbar-nav > li > a, #navigation.affix .navbar-default .navbar-nav > li > a {
    padding: 10px 15px;
}
.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
    margin: 5px 7px 5px 24px;
    padding: 0px 0 6px;
}
div#search {
    width: 100%;
}
.navbar-brand img {
    width: 90%;
    margin-left: 15px;
}
.footer-widget .col-md-12 {
    padding: 0;
}
.footer .col-md-12 {
    padding: 0 5px;
    text-align: center;
}
.footer .copyright {
    margin: 4px 0 0;
    font-weight: 300;
    text-align: center;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
}
.footer .social-links {
    margin: 8px;
    float: none!important;
    clear: both;
}

#aviat {display:block;}

.tabswitcher {display:none;}
.datainfo h2 {margin-bottom:10px;}
.datainfo {
    margin-top: 0;
}
.datainfo h2 {
    font-size: 18px;
}
.mainbread h2 {
    margin-bottom: 0px;
    margin-top: 60px;
    font-size: 15px;
}
.breadinn {
    padding: 0 30px;
}
.breadcrumbs {
    margin-top: 120px;
}
.breadinn {
    padding: 0 30px;
}
.topspace50 {
    margin-top: 10px;
}
.menuitems a {
    padding: 7px 10px;
    color: rgb(18, 70, 120);
    font-size: 16px;
}
ul.menuitems {
    margin-bottom: 10px;
}
.companyabout {
    padding-top: 0;
}
.topspace50 {
    padding: 0;
}
h3.magin30 {
    margin-top: 20px;
}
.companyabout h3 {
    font-size: 22px;
}
.maintitlepage h2 {
    font-size: 22px;
}
.footer-item a {
    color: #eee;
    line-height: normal;
}
#companyprofile {
    padding: 0px 0 10px;
}
.menuitems{ display:none;}
ul.nav.navbar-nav {
    margin-top: 5px;
    padding: 0 15px;
}
.vc_custom_1522320342775 {
    padding: 0 15px;
}
.maps {
    clear: both;
}
.clearboths {
    clear: both;
}
.maincontact a {
    color: #0176a5;
}
.atdcaption {
    background: #393939;
    background-repeat: no-repeat;
    height: auto;
    padding: 10px 0;
    margin-bottom: 10px;
}
.atdgreysec {
    position: relative;
    top: 0;
}
.atdcaption p {
    width: 100%;
    padding-bottom: 10px;
	padding: 0px 13px;
}

.secondsec {
    background: #393939;
    background-repeat: no-repeat;
    padding: 10px 0;
    margin-bottom: 10px;
}
.atdpages .col-md-12 {
    padding: 0;
}
#ContentPlaceHolder1_UpdatePanel2 .col-xs-4 {
    width: 50%;
}
.page_navigation {
    clear: both;
    padding: 22px 0;
    margin-bottom: 30px;
}
#ContentPlaceHolder1_UpdatePanel2 .col-md-12 {
    clear: both;
}
.products img {
    height: 100px;
}
.products {
    width: 100%;
        height: 200px;
}
.products h2 {
    font-size: 14px;
}
.row.product-listing {
    margin-top: 15px;
}
.atdpages .row {
    margin-top: 0!important;
}
.atdcaption h3 {
    padding: 10px 11px;
}
.secondsec h3 {
    padding: 18px 10px 10px;
    margin-left: 0;
}
.secondsec p {
    width: 100%;
    padding: 0px 10px;
    color: #fff;
    font-size: 13px;
        padding-bottom: 0;
    margin-left: 0;
}
.atdgreysec2 {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
}
.contactstabs.nav-tabs>li {
    width: 100%;
}










}

@media(min-width:451px) and (max-width:540px) {
#aviat {display:block;}

.tabswitcher {display:none;}
.datainfo h2 {margin-bottom:10px;}
}

@media(min-width:360px) and (max-width:640px) {
#aviat {display:block;}

.tabswitcher {display:none;}
.datainfo h2 {margin-bottom:10px;}
}

@media(min-width:541px) and (max-width:768px) {
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 9px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 0px;
    font-weight: 500;
}


#navigation.affix .navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 10px 0px;
    font-weight: 500;
}
.navbar-default .navbar-nav > li {
    margin: 0 6px;
}
}

@media(min-width:769px) and (max-width:1024px) {
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 10px;
    font-weight: 500;
}
.navbar-default .navbar-nav > li {
    margin: 0 0px;
}
#navigation.affix .navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 10px 10px;
    font-weight: 500;
}
.upperrow .col-md-4.col-xs-6 {
    padding-left: 0;
}




}

@media(min-width:1025px) and (max-width:1200px) {

}

@media(min-width : 1201px) {

}